<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>
	</head>
	<body>
		<center>
			<h1>Welcome Page</h1>
			<form action="/submit" method="post">
				<label for="fname">First name:</label><br />
				<input type="text" id="fname" name="fname" value="John" /><br />
				<label for="lname">Last name:</label><br />
				<input type="text" id="lname" name="lname" value="Doe" /><br />

				<label for="lname">Marks:</label><br />
				<input type="number" id="marks" name="marks" value="80" /><br /><br />

				<input type="submit" value="Submit" />
			</form>
		</center>
	</body>
</html>
